<h1>Cadastrar meus amigos</h1>

<form action="/adicionar" method="post" class="form">
<div class="form-control">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" placeholder="Informe o nome do amigo">
</div>
<div class="form-control"></div>
    <label for="idade">Idade:</label>
    <input type="text" name="idade" placeholder="Informe a idade do amigo">
</div>
<input type="submit" value="Cadastrar">
</form>
